<!DOCTYPE HTML>
<html>
<body >

  <p>create a store</p>
  <form action = "/store" method = "POST">
    <input name="name" placeholder="name of store" />
  </form>

  <ul>
  {{#stores}}
    <li>
      {{name}}
      <a href="/manage/store/{{id}}">visit {{name}}</a>
    </li>
  {{/stores}}
  </ul>
</body>
</html>