<!DOCTYPE HTML>
<html>
<body >


  <form>
    <input name="storeId" value={{storeId}} hidden />
    <input name="userId" value={{userId}} hidden />
    
    <select name="itemId">
      {{#products}}
        <option value="{{id}}">{{name}}</option>
      {{/products}}
    </select>
    
  </form>

</body>
</html>